# fly.toml app configuration file generated for lepotilnica-ws on 2026-02-17T11:58:23+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'lepotilnica-ws'
primary_region = 'fra'

[build]
  dockerfile = 'Dockerfile'

[env]
  WS_PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
